{% block extra %}
<script src="https://kit.fontawesome.com/98d783368d.js" crossorigin="anonymous"></script>
{% endblock %}

{% if user.is_authenticated %}
<div class="card-body">
    <form class='comment-form' method='POST'>
        {% csrf_token %}
        {{comment_form.as_p|safe}}
        <button type='submit'>გაგზავნა</button>
    </form>
</div>
{% endif %}

<div class="comments-box clearfix">
<!--    <div class="showmore comments">კომენტარები</div>-->
    {% for comment in comments %}
        <div class="comment clearfix">
            <div class="comment-user-img" href="#user">
                <img src="#" alt>
            </div>
            <div class="comment-body">
                <div class="comment-info">
                    <p class='comment-user'>{{ comment.user }}</p>
                    {% if user.is_authenticated %}
                    <p class="reply-button" data-id="{{comment.id}}" data-username="{{comment.user}}"><i class="fas fa-reply"></i>  პასუხი</p>
                    {% endif %}
                    <p class='comment-time'>{{ comment.created|date:"d/m/Y  |  H:i" }}</p>
                </div>
                    <p>{{ comment.body}}</p>
            </div>
            {% if comment.replies.all %}
            <div class="comment-replies-check"><i class="fas fa-caret-down"></i> პასუხების ჩვენება ({{comment.replies.all|length}})</div>
            <div class="comment-replies-box">
                {% for reply in comment.replies.all reversed%}
                <div class="comment">
                    <div class="comment-user-img" href="#user">
                        <img src="#" alt>
                    </div>
                    <div class="comment-body">
                        <div class="comment-info">
                            <p class='comment-user'>{{ reply.user }}</p>
                            {% if user.is_authenticated %}
                            <p class="reply-button" data-id="{{comment.id}}" data-username="{{comment.user}}"><i class="fas fa-reply"></i>  პასუხი</p>
                            {% endif %}
                            <p class='comment-time'>{{ reply.created|date:"d/m/Y | H:i" }}</p>
                        </div>
                            <p style="word-wrap: break-word">{{ reply.body}}</p>
                    </div>
                </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

<!--<i class="fas fa-caret-up"></i>-->