{% if user.is_authenticated %}
    <form class='comment-form' method='POST'>
        {{ comment_form.as_p|safe }}
        <button class="spoiler-button">სპოილერი</button>
        <button type='submit'>გაგზავნა</button>
    </form>
{% else %}
    {% block extra %}
        <style>
            .comments-box.clearfix:before {
                clear: both;
                margin-top: 10px;
            }
        </style>
    {% endblock %}
    <div class="no-auth">
        <p>
            კომენტარის გასაკეთებლად საჭიროა
            <a href="#login-focus" onclick="document.getElementsByClassName('login-form')[0].className += ' show'">ავტორიზაცია</a>,
            თუ არ ხართ ავტორიზებული შეგიძლიათ გაიაროთ <a href="{% url 'signup' %}">რეგისტრაცია</a>
        <p>
    </div>
{% endif %}

<div class="comments-box clearfix">
    {% for comment in comments %}
        <div class="comment clearfix">
{#             <div class="admin"></div>#}
            <a class="comment-user-img" href="{% url 'profile_preview' comment.user_id %}">
                <img src="/media/{{ comment.avatar }}?r=1" alt="{{ comment.username }}" loading="lazy">
            </a>
            <div class="comment-body">
                <div class="comment-info">
                    <a class='comment-user {% if comment.user_id == user.pk %}mine{% endif %}'
                       href="{% url 'profile_preview' comment.user_id %}">{{ comment.username }}</a>
                    {% if comment.active %}
                        {% if user.is_authenticated %}
                            <p class="reply-button" data-id="{{ comment.id }}" data-username="{{ comment.username }}">
                                <i class="fas fa-reply"></i> პასუხი
                            </p>
                        {% endif %}
                        {% if comment.priority != None %}
                            <i class="fas fa-thumbtack" style="transform: scale(1.5,1.2) rotate(90deg);margin-left: 3px"></i>
                        {% endif %}
                        <p class='comment-time'>{{ comment.created|date:"d/m/Y | H:i" }}</p>
                        </div>
                        <p class="comment-text">
                            {{ comment.body|linebreaksbr }}
                        </p>
                        <div class="comment-actions">
                            <div class="comment-dl-buttons">
                                <div class="comment-right-buttons" id='like-comment' style="color: #ff2e01;"><i
                                        class="{% if comment.has_like %}fas{% else %} far{% endif %} fa-thumbs-up"></i>{{ comment.like_count }}
                                </div>
                                <div class="comment-right-buttons" id='dislike-comment' style="color: #ab3717;"><i
                                        class="{% if comment.has_dislike %}fas{% else %} far{% endif %} fa-thumbs-down"></i>{{ comment.dislike_count }}
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="user-actions">
                                    {% if comment.user_id == user.pk %}
                                        {% if comment.like_count == 0 and comment.dislike_count == 0 and comment.active_children_count == 0 %}
                                            <div class="comment-right-buttons" id='edit-comment'><i
                                                    class="fas fa-edit"></i></div>
                                        {% endif %}
                                        <div class="comment-right-buttons" id='remove-comment'><i
                                                class="fas fa-trash"></i></div>
                                    {% endif %}
                                    <p class="reply-button touch" data-id="{{ comment.id }}"
                                       data-username="{{ comment.username }}">
                                        <i class="fas fa-reply"></i> პასუხი
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <p class='comment-time'>{{ comment.created|date:"d/m/Y | H:i" }}</p>
                        </div>
                        <p class="deleted-comment">ეს კომენტარი წაშლილია</p>
                    {% endif %}
        </div>
        {% if comment.active_children_count %}
            <div class="comment-replies-check closed" data-id="{{ comment.id }}">
                პასუხების ჩვენება ({{ comment.children_count }})
            </div>
            <div class="comment-replies-box"></div>
        {% endif %}
        </div>
    {% endfor %}
</div>
{% if comments.has_next %}
    <div class="showmore" data-page="1" data-max="{{ max_page }}">მეტი</div>
{% endif %}