{% load static %}
{% if animes_list %}
    <div class="items-list">
        {% for anime in animes_list %}
            <div class="item">
                <a href="/anime/{{ anime.slug }}" title="{{ anime.name }}">
                    <div class="item-container">
                        <img src="/media/{{ anime.poster }}" alt="{{ anime.name }}">
                        {% if anime.soon %}
                            <img class='soon' src="{% static 'img/soon_poster.svg' %}" alt="{{ anime.name }}">
                        {% else %}
                            <div class='age'>{{ anime.age }}+</div>
                        {% endif %}
                        <div class="info">
                            <h1 class='name'>{{ anime.name }}</h1>
                            <div class='details'>
                                <span title="რეიტინგი"><i class="fas fa-star"></i> {{ anime.rating }}</span>
                                <span style='float:right;' title="ნახვები"><i class="fas fa-eye"></i> {{ anime.views }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if animes_list.has_other_pages %}
            <div class="pagination">
                <div>
{#                    <a>⇤</a>#}
                    {% if animes_list.has_previous %}
                        <a href="?page={{ animes_list.previous_page_number }}&{{ params }}">←</a>
                    {% else %}
                        <a class="disabled">←</a>
                    {% endif %}
                    {% for page in animes_list.paginator.page_range %}
                        {% if animes_list.number == page %}
                            <a class="active">{{ page }}</a>
                        {% else %}
                            <a href="?page={{ page }}&{{ params }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if animes_list.has_next %}
                        <a href="?page={{ animes_list.next_page_number }}&{{ params }}">→</a>
                    {% else %}
                        <a class="disabled">→</a>
                    {% endif %}
{#                    <a>⇥</a>#}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}