{% extends "base.html" %}
{% block title %}{{ anime.name }} - Animilia{% endblock %}
{% block description %}{{ anime.name }}, {{ anime.nameen }}, {{ anime.namejp }} ქართულად გახმოვანებული, qartulad
    gaxmovanebuli, ანიმეები ქართულად, animeebi qartulad{% endblock %}
{% block keywords %}{{ anime.name }}, {{ anime.nameen }}, {{ anime.namejp }}{% endblock %}
{% block ogtitle %}
    <meta property="og:title" content="{{ anime.name }}"/>{% endblock %}
{% block ogdescription %}
    <meta property="og:description" content="Animilia.ge - ქართულად გახმოვანებული ანიმეები">{% endblock %}
{% load extra_tags %}

{% block content %}
    <div class="container">
        <div class="item-page clearfix" data-id="{{ anime.id }}">
            {% if anime.poster %}
                <img class="item-page-img" src="/media/{{ anime.poster }}?r=1" alt="{{ anime.name }}">
            {% else %}
                <img class="item-page-img" src="/static/img/no-poster-available.jpg" alt="{{ anime.name }}">
            {% endif %}
            <div class="item-page-info">
                <div class="item-page-head clearfix">
                    <div class="item-page-left">
                        <h1>{{ anime.name }}</h1>
                        {% if anime.namege %}
                            <h4 class="geo-header"> {{ anime.namege }}</h4>
                        {% endif %}
                        {% if anime.nameen %}
                            <h4> {{ anime.nameen }}</h4>
                        {% endif %}
                        {% if anime.namejp %}
                            <h4> {{ anime.namejp }}</h4>
                        {% endif %}
                        {% if anime.nameru %}
                            <h4> {{ anime.nameru }}</h4>
                        {% endif %}
                    </div>
                    <div class="item-page-right">
                        <span><i class="fas fa-star"></i> {{ anime.rating }}</span>
                    </div>
                </div>
                <hr>
                <div class="item-page-row">
                    <dl>
                        <dt>ტიპი:</dt>
                        <dd>{{ types|access_collection_element:anime.type|access_collection_element:1 }}</dd>
                        <dt>სტატუსი:</dt>
                        <dd class="anime-status status-{{ anime.status }}">{{ status|access_collection_element:anime.status|access_collection_element:1 }}</dd>
                        <dt>სტუდია:</dt>
                        <dd>{{ anime.studio }}</dd>
                        <dt>გამოშვების წელი:</dt>
                        <dd>{{ anime.year }}</dd>
                        <dt>ჟანრები:</dt>
                        <dd>
                            {% for genre in anime.categories.all %}
                                <li><a class="searchable-item"
                                       href="{% url 'search_anime' %}?categories={{ genre }}">{{ genre }}</a></li>
                            {% endfor %}
                        </dd>
                        <dt>ასაკობრივი შეზღუდვა:</dt>
                        <dd>{{ anime.age }}+</dd>
                        <dt>რეჟისორი:</dt>
                        <dd>{{ anime.director }}</dd>
                        {% if anime.type == 0 or anime.type == 2 or anime.type == 3 %}
                            <dt>სერიების რაოდენობა:</dt>
                            <dd>{{ anime.dubbed }}/{{ anime.episodes }}</dd>
                        {% endif %}
                        <dt>გამხმოვანებელი:</dt>
                        <dd>
                            {% for dubber in anime.dubbers.all %}
                                <li><a class="searchable-item" href="{% url 'search_anime' %}?dubbers={{ dubber }}">{{ dubber }}</a></li>
                            {% endfor %}
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="item-page-desc">
                <p>{{ anime.description }}</p>
            </div>
            {% if chronology %}
                <div class="show-ordering">ქრონოლოგია</div>
                <div class="item-page-ordering">
                    {% for item in chronology %}
                        <div class="ordering-item">
                            <span>{{ forloop.counter }}.</span>
                            {% if item.anime__slug != None %}
                                {% if item.anime__type == 0 or item.anime__type == 2 or item.anime__type == 3 %}
                                    <span><a href="{% url 'page' item.anime__slug %}"
                                             {% if item.anime__slug == anime.slug %}class="current-order"{% endif %}>{{ item.anime__name }}</a> - {{ types|access_collection_element:item.anime__type|access_collection_element:1 }} ({{ item.anime__episodes }} ეპ.)</span>
                                {% else %}
                                    <span><a href="{% url 'page' item.anime__slug %}"
                                             {% if item.anime__slug == anime.slug %}class="current-order"{% endif %}>{{ item.anime__name }} </a>- {{ types|access_collection_element:item.anime__type|access_collection_element:1 }}</span>
                                {% endif %}
                            {% else %}
                                <span>{{ item.not_here }} - ?</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if not anime.soon %}
                {% if anime.type == 0 or anime.type == 2 or anime.type == 3 %}
                    <div class="item-page-episodes">
                        {% for episode in anime.videos.all|dictsort:"episode" %}
                            <div class="episode-select-button" data-id="{{ episode.episode }}"
                                 data-one="{{ episode.myvideo }}"
                                 data-two="{{ episode.ok }}">{{ episode.episode }}</div>
                        {% endfor %}
                    </div>
                    <div class="item-player hidden">
                        <iframe frameborder="0" allowfullscreen="true"></iframe>
                        <select class="hidden" id="players-choice" name="players-choice">
                            <option value="myvideo">Myvideo.ge</option>
                            <option value="ok">Ok.ru</option>
                        </select>
                    </div>
                {% else %}
                    <div class="item-player">
                    {% with anime.videos.all|first as episode %}
                        {% if episode.myvideo %}
                            <iframe src="{{ episode.myvideo }}" frameborder="0" allowfullscreen="true"></iframe>
                            {% if episode.ok %}
                            <select class="non-series" id="players-choice" name="players-choice">
                                <option value="{{ episode.myvideo }}">Myvideo.ge</option>
                                <option value="{{ episode.ok }}">Ok.ru</option>
                            </select>
                            {% endif %}
                        {% else %}
                            <iframe src="{{ episode.ok }}" frameborder="0" allowfullscreen="true"></iframe>
                        {% endif %}
                    {% endwith %}
                    </div>
                {% endif %}
            {% else %}
                <div class="soon-player"></div>
            {% endif %}
            <hr>
            {% include "anime/comments.html" %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        const urlForQueryParams = new URLSearchParams(window.location.search);
        {# urlForQueryParams - checking if parent param exists in url to sroll (used for notification redirect)#}
        if(urlForQueryParams.has("parent")) {
            let parentId = urlForQueryParams.get("parent");
            let commentBox = $('.comment-replies-check[data-id=' + parentId + ']');

            if(commentBox.length) {
                $([document.documentElement, document.body]).animate({
                    scrollTop: commentBox.offset().top - 50
                }, 800);
                getChildComments(commentBox, commentBox.data('id'));
            }
        }

        Array.prototype.forEach.call(document.querySelectorAll('.comment-text'),child => {
            let com = $(child);

            com.html(BBtoHTML(com.html()));
            readMoreComment($(child));
        });

    {% if anime.type == 0 %}
        let pageCookie = getCookie(itemSlug.substring(7,itemSlug.length-1));
        if (pageCookie !== "") {
            $('.item-page-episodes').find(`.episode-select-button[data-id=${pageCookie}]`).addClass('active');
        }
    {% endif %}
        if (getCookie("_vEpAd") === "") {
            setCookie("_vEpAd", cT(), 1);
        }
    </script>
{% endblock %}