{% extends "base.html" %}
{% block title %}{{ anime.name }} - Animilia{% endblock %}
{% block logout_redirect %}{{ request.path }}{% endblock %}
{% block description %}{{ anime.name }} - ქართულად გახმოვანებული ანიმე{% endblock %}

{% block content %}
    <div class="container">
        <div class="item-page clearfix" data-id="{{ anime.id }}">
                <img class="item-page-img" src="/media/{{ anime.poster }}"  alt="სურათი არ არის">
            <div class="item-page-info">
                <div class="item-page-head clearfix">
                    <div class="item-page-left">
                        <h1>{{ anime.name }}</h1>
                        <h4> {{ anime.nameen }}</h4>
                        <h4> {{ anime.namejp }}</h4>
                        <h4> {{ anime.nameru }}</h4>
                    </div>
                    <div class="item-page-right">
                        <span><i class="fas fa-star"></i> {{ anime.rating }}</span>
                    </div>
                </div>
                <hr>
                <div class="item-page-row">
                    <dl>
                        <dt>ტიპი:</dt>
                        {% if anime.type == 0 %}
                            <dd>სერიალი</dd>
                        {% elif anime.type == 1 %}
                            <dd>ფილმი</dd>
                        {% endif %}
                        <dt>სტუდია:</dt>
                        <dd>{{ anime.studio }}</dd>
                        <dt>გამოშვების წელი:</dt>
                        <dd>{{ anime.year }}</dd>
                        <dt>ჟანრები:</dt>
                        <dd>
                            {% for genre in anime.categories.all %}
                                <li>{{ genre }}</li>
                            {% endfor %}
                        </dd>
                        <dt>ასაკობრივი შეზღუდვა:</dt>
                        <dd>{{ anime.age }}+</dd>
                        <dt>რეჟისორი:</dt>
                        <dd>{{ anime.director }}</dd>
                        {% if anime.type == 0 %}
                        <dt>სერიების რაოდენობა:</dt>
                        <dd>{{ anime.dubbed }}/{{anime.episodes}}</dd>
                        {% endif %}
                        <dt>გამხმოვანებელი:</dt>
                        <dd>
                            {% for dubber in anime.dubbers.all %}
                                <li>{{ dubber }}</li>
                            {% endfor %}
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="item-page-desc">
                <p>{{anime.description}}</p>
            </div>
            <hr>
            {% if anime.type == 0 %}
            <div class="item-page-episodes">
                {% for episode in anime.series.all %}
                <div class="episode-select-button" data-id="{{episode.row}}" data-url="{{episode.url}}">{{ episode.row }}</div>
                {% endfor %}
            </div>
            <div class="item-player hidden">
                <iframe frameborder="0" allowfullscreen="true"></iframe>
            </div>
            {% else %}
            <div class="item-player">
                {% with anime.series.all|first as episode %}
                    <iframe src="{{ episode.url }}" frameborder="0" allowfullscreen="true"></iframe>
                </video>
                {% endwith %}
            </div>
            {% endif %}
            <hr>
            {% include "anime/comments.html" %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {#var isMobile = (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()));#}

        Array.prototype.forEach.call(document.getElementsByClassName('comment'), child => {
            var com = $(child).find('.comment-body').find('p');
            if(com.length > 2){
                com = com[2]
            }else{
                com = com[1]
            }
            com.innerHTML = ifCommentContainsSpoiler(com.innerHTML.trim());
        });

    {% if anime.type == 0 %}
        var pageCookie = getCookie(itemSlug.substring(7,itemSlug.length-1));
        if (pageCookie !== "") {
            $('.item-page-episodes').find(`.episode-select-button[data-id=${pageCookie}]`).addClass('active');
        }
    {% endif %}
        if (getCookie("_vEpAd") === "") {
            setCookie("_vEpAd",cT(),1/24);
        }
    </script>
{% endblock %}