{% extends "account/notifications.html" %}

{% block notif_content %}
    {% if msgs %}
        <button id="delete-all" data-content="message">შეტყობინებების წაშლა</button>
    {% endif %}
    <ul class="notifications">
        {% for msg in msgs %}
            <li {% if msg.seen %}class="visited"{% endif %}>
                <div style="position: relative">
                    <span class="notif-info">
                            {{ msg.message__subject }}
                            <a data-id="{{ msg.message__id }}" data-notif="{{ msg.id }}" class="show-message-body">ნახვა</a>
                        </span>
                    <span class="remove-notif" data-id="{{ msg.id }}" title="წაშლა">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </span>
                    <span class="notif-time">{{ msg.message__created|date:"d/m/Y | H:i" }}</span>
                </div>
                <p class="message-body"></p>
            </li>
        {% empty %}
            <div class="form-title">თქვენ გაქვთ 0 შეტყობინება</div>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script type="text/javascript">

        $('.show-message-body').click(function (e) {
            e.preventDefault();
            let that = $(this);
            let liParent = that.parents('li');
            let body = liParent.find('.message-body');

            if (!that.hasClass('done')) {
                body.text('მოიცადეთ...');
                $.ajax({
                    method: "GET",
                    url: '/contact/message/' + that.data('id'),
                    data: {
                        visited : liParent.hasClass('visited') ? 1 : 0,
                    },
                    success: function (e) {
                        body.text(e.message);
                        that.addClass('done');

                        if(!liParent.hasClass('visited')){
                            let notifCount = $('.notif-count');
                            notifCount.text(notifCount.text() -1);
                        }
                    },
                    error: function () {
                        alert('მოხდა შეცდომა! თავიდან სცადეთ! თუ იგივე მოხდა, გთხოვთ მიწეროთ ადმინისტრაციას.');
                    }
                });
            }

            if (!body.hasClass('show')) {
                body.toggleClass('show');
                that.text('დამალვა');
            } else {
                body.toggleClass('show');
                that.text('ნახვა');

                if(!liParent.hasClass('visited')){
                    liParent.addClass('visited');
                }
            }
        });
    </script>
{% endblock %}