{% extends "base.html" %}
{% block title %}შეყობინებები{% endblock %}
{% block logout_redirect %}/{% endblock %}
{% load static %}
{% load extra_tags %}

{% block content %}
    <div class="container clearfix">
        <div class="notif-list">
            <a class="notif-model" href="{% url 'notification_reply' %}">კომენტარები
                {% if total.reply %}
                    ({{ total.reply }})
                {% endif %}
            </a>
            <a class="notif-model" href="{% url 'notification_message' %}">ადმინისტრაცია
                {% if total.admin_message %}
                    ({{ total.admin_message }})
                {% endif %}
            </a>
        </div>
        <div class="notif-content">
            {% block notif_content %}
                <ul class="notifications">
                    {% for reply in replies %}
                        <li {% if reply.seen %}class="visited"{% endif %}>
                            <span class="notif-info">
                                თქვენს კომენტარზე ("{{ reply.reply__to_comment__body|truncatechars:17 }}")
                                {% if reply.reply__to_comment__parent_id != None %}
                                    <a href="/anime/{{ reply.reply__to_comment__anime__slug }}?parent={{ reply.reply__to_comment__parent_id }}&notif={{ reply.id }}">პასუხია</a>
                                {% else %}
                                    <a href="/anime/{{ reply.reply__to_comment__anime__slug }}?parent={{ reply.reply__to_comment }}&notif={{ reply.id }}">პასუხია</a>
                                {% endif %}
                            </span>
                            <span class="remove-notif" data-id="{{ reply.id }}" title="წაშლა">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </span>
                            <span class="notif-time">{{ reply.reply__reply_comment__created|date:"d/m/Y | H:i" }}</span>
                        </li>
                    {% empty %}
                        <div class="form-title" style="margin: 0;">თქვენ გაქვთ 0 შეტყობინება</div>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
    </div>
{% endblock %}