{% extends "base.html" %}
{% block title %}{{ profileuser }} -  პროფილი{% endblock %}
{% block logout_redirect %}/{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-page">
        <div class="clearfix">
            <div class="profile-avatar-container" style="margin: 0">
                <div class="profile-img">
                    <img id="active-avatar" src="/media/{{ profileuser.profile.avatar }}" alt>
                </div>
            </div>
            <div class="profile-display">
                <p id="profile-username">{{ profileuser.username }}</p>
                <p id="profile-group">{{ profileuser.groups.all.0 }}</p>
                <div class="profile-row">
                    <dl>
                        <dt>რეგისტრაციის თარიღი:</dt>
                            <dd>{{ profileuser.date_joined|date:"d.m.Y" }}</dd>
                        <dt>ჯგუფი:</dt>
                        {% if profileuser.is_superuser %}
                            <dd>ადმინისტრატორი</dd>
                        {% elif profileuser.is_staff %}
                            <dd>მოდერატორი</dd>
                        {% else %}
                            <dd>მაყურებელი</dd>
                        {% endif %}
                    </dl>
                    <dl>
                        {% if profileuser.settings.show_gender %}
                            <dt>სქესი:</dt>
                            {% if profileuser.profile.gender == 0 %}
                                <dd>მამრობოთი</dd>
                            {% elif profileuser.profile.gender == 1 %}
                                <dd>მდედრობითი</dd>
                            {% else %}
                                <dd>მითითებული არ არის</dd>
                            {% endif %}
                        {% endif %}
                        {% if profileuser.settings.show_birth %}
                            <dt>დაბადების თარიღი:</dt>
                            {% if profileuser.profile.birth %}
                                <dd>{{ profileuser.profile.birth }}</dd>
                            {% else %}
                                <dd>მითითებული არ არის</dd>
                            {% endif %}
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}