{% extends "base.html" %}
{% block title %}{{ user }}-ის პროფილი{% endblock %}
{% block logout_redirect %}/{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-page">
        <div class="clearfix">
            <div class="profile-avatar-container" style="margin: 0">
                <div class="profile-img">
                    <img id="active-avatar" src="/media/{{ user.profile.avatar }}" alt>
                </div>
            </div>
            <div class="profile-display">
                <p id="profile-username">{{ user.username }}</p>
                <p id="profile-group">group</p>
<div class="profile-row">
                        <dl>
                            <dt>რეგისტრაციის თარიღი:</dt>
                                <dd>{{ user.date_joined|date:"d.m.Y" }}</dd>
                            <dt>ჯგუფი:</dt>
                            {% if user.is_superuser %}
                                <dd>ადმინისტრატორი</dd>
                            {% elif user.is_staff %}
                                <dd>მოდერატორი</dd>
                            {% else %}
                                <dd>მაყურებელი</dd>
                            {% endif %}
                        </dl>
                        <dl>
                        {% if user.settings.show_gender %}
                            <dt>სქესი:</dt>
                            {% if user.profile.gender == 0 %}
                                <dd>მამრობოთი</dd>
                            {% elif user.profile.gender == 1 %}
                                <dd>მდედრობითი</dd>
                            {% else %}
                                <dd>მითითებული არ არის</dd>
                            {% endif %}
                        {% endif %}
                        {% if user.settings.show_birth %}
                            <dt>დაბადების თარიღი:</dt>
                            {% if user.profile.birth %}
                                <dd>{{ user.profile.birth }}</dd>
                            {% else %}
                                <dd>მითითებული არ არის</dd>
                            {% endif %}
                        {% endif %}
                        </dl>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}