{% extends "base.html" %}
{% block title %}ჩემი პროფილი{% endblock %}
{% block logout_redirect %}/{% endblock %}
{% load static %}
{% load account_tags %}
{% block extra %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.css" />
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.js"></script>

<script type="text/javascript">

$(document).ready(function () {
    const croppieSlider = $('.cr-slider-wrap');
    croppieSlider.prependTo(croppieSlider.parent());

    $("select[name='birth-day']").append(getDaysSelectOptionsHTML(31,22));
    $("select[name='birth-month']").append(getMonthsSelectOptionsHTML());
    $("select[name='birth-year']").append(getYearsSelectOptionsHTML(1940,2019));

    let pickedDate = [{{ user.profile.birth.day }},{{ user.profile.birth.month }},{{ user.profile.birth.year }}];

    $(`select[name='birth-day'] option[value=${pickedDate[0]}]`).attr('selected','');
    $(`select[name='birth-month'] option[value=${pickedDate[1]}]`).attr('selected','');
    $(`select[name='birth-year'] option[value=${pickedDate[2]}]`).attr('selected','');
});

let $avatar_updated = {{ user.settings.avatar_updated|date_to_timestamp:3 }};
let $username_updated = {{ user.settings.username_updated|date_to_timestamp:7 }};

$('.profile-details-input').on('click','#submit-username-button',function (e) {
    e.preventDefault();
    let that = $(this);
    let username = $('#profile-username');
    let new_username = that.parent().find('input[name=username]').val();
    if(username.text() === new_username)
        $('.username-info').html('თქვენ ისედაც ეს ნიკი გაქვთ.');
    else if(new_username.length<3)
        $('.username-info').html('ნიკი მინიმუმ 3 სიმბოლოსგან უნდა შედგებოდეს.');
    else if(new_username.length>16)
        $('.username-info').html('ნიკი მაქსიმუმ 16 სიმბოლოსგან უნდა შედგებოდეს.');
    else{
        let now = new Date();
        if(!(now.getTime()/1000 >= $username_updated))
            alert(`ნიკის შეცვლა შეგიძლიათ ყოველ 7 დღეში ერთხელ.\nშეცვლას შეძლებთ ${convertTimeGeo($username_updated)}-ზე`);
        else if (confirm('ნამდვილად გსურთ ნიკის შეცვლა?!\nნიკის კვლავ შეცვლას შეძლებთ 7 დღის შემდეგ!')) {
            $.ajax({
                method: "POST",
                url: '/account/username_update/',
                data: {
                    username: new_username
                },
                accepts: "application/json; charset=utf-8",
                success: function (data) {
                    $('.username-info').html(`<span style='color:#5ced5c;'>ნიკი შეიცვლა!</span>`);
                    $('#profile-username').text(new_username);
                    username.text(new_username);
                    $username_updated = data.time;
                    $('.profile-details-input > .cancel').trigger('click');
                },
                error: function (response) {
                    let html = '';
                    response.responseJSON.errors.forEach(function (error) {
                        html += (`<span>${error}</span><br>`);
                    });
                    $('.username-info').html(html);
                }
            });
        }
    }
});

$('#clear-image').on('click',function () {
    if(confirm('ნამდვილად გსურთ ავატარის წაშლა?\nთუ თქვენ ბოლო 3 დღეში ავატარი ატვირთული გქონდათ, ' +
        'ვერ ატვირთავთ ახალ ავატარს!')) {
        $.ajax({
            url: "/account/avatar_update/delete",
            type: "DELETE",
            success: function () {
                $('#active-avatar').attr('src','/media/no-avatar.jpg');
                $(this).hide();
            },
            error: function () {
                alert('მოხდა შეცდომა! გთხოვთ,მოგვიანებით სცადეთ!')
            }
        });
        $(this).hide();
    }
});

$('.change-profile-img').on('click',function () {
    if(!(cT()/1000 >= $avatar_updated)){
        alert(`ავატარის გამოცვლა შეგიძლიათ ყოველ 3 დღეში ერთხელ.\nშეცვლას შეძლებთ ${convertTimeGeo($avatar_updated)}-ზე`);
    } else {
        $('input[name=avatar]').click();
    }
});

let $uploadCrop;

function readFile(input) {
    if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function (e) {
            $('.upload-demo').addClass('ready');
            $uploadCrop.croppie('bind', {
                url: e.target.result
            })
        };
        reader.readAsDataURL(input.files[0]);
    }
    else {
        alert("სამწუხაროდ თქვენს ბრაუზერს არ აქვს FileReader API-ის მხარდაჭერა.გთხოვთ,რომ გაანახლოთ ბრაუზერი.");
    }
}

$uploadCrop = $('#upload-demo').croppie({
    viewport: {
        width: 200,
        height: 200,
        type: 'square'
    },
});

$('input[name=avatar]').on('change', function () {
    readFile(this);
    $('#avatarCroppieModal').css('display','block');
});

$('.close').on('click',function () {
    $('#avatarCroppieModal').css('display','none');
    $('input[type=file]').val(null)
});

$('.upload-result').on('click', function (e) {
    e.preventDefault();
    let that = $(this);

    that.attr('disabled',true);
    that.text('მოიცადეთ...');
    $uploadCrop.croppie('result', {
        type: 'blob',
        size: 'viewport',
        format: 'jpeg',
        quality: 0.95,
    }).then(function (img) {
        let formData = new FormData();
        formData.append('data', img);
        $.ajax({
            url: "/account/avatar_update/",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#avatarCroppieModal').css('display','none');
                $('#active-avatar').attr('src', "/media/"+data['new_avatar']);
                $avatar_updated = data.time;
            },
            error:function () {
                alert('მოხდა შეცდომა,გთხოვთ მოგვიანებით სცადეთ!')
            },
            complete:function () {
                that.attr('disabled',false);
                $('input[type=file]').val(null);
                that.text('დადასტურება');
            }
        });
    });
});

$(window).on('click',function (e) {
    if(e.target.id === "avatarCroppieModal"){
        $('#avatarCroppieModal').css('display','none');
    }
})

</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile-page">
            <div class="profile-main clearfix">
                <div class="profile-avatar-container ">
                        <div class="profile-img">
                            {% if user.profile.avatar != 'no-avatar.jpg' %}
                                <i class="fas fa-times-circle" id="clear-image"></i>
                            {% endif %}
                            <img id="active-avatar" src="/media/{{ user.profile.avatar }}?r=1" alt="avatar">

                            <div id="avatarCroppieModal">
                              <div class="modal-content">
                                <span class="close">&times;</span>

                                <div class="demo-wrap upload-demo">
                                    <div class="grid">
                                        <div class="col-1-2">
                                            <div class="upload-demo-wrap">
                                                <div id="upload-demo"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  <input type="submit" class="upload-result" value="დადასტურება">
                              </div>
                            </div>
                        </div>
                        <input type="file" style="display: none" name="avatar" accept="image/*" id="id_avatar">
                        <div class="change-profile-img">ავატარის ატვირთვა <i class="fas fa-upload"></i></div>
                    </div>
                <div class="profile-display">
                    <p id="profile-username">{{ user.username }}</p>
                    <div class="profile-row">
                        <dl>
                            <dt>რეგისტრაციის თარიღი:</dt>
                                <dd>{{ user.date_joined|date:"d.m.Y" }}</dd>
                            <dt>ჯგუფი:</dt>
                            {% if user.is_superuser %}
                                <dd>ადმინისტრატორი</dd>
                            {% elif user.is_staff %}
                                <dd>მოდერატორი</dd>
                            {% else %}
                                <dd>მაყურებელი</dd>
                            {% endif %}
                        </dl>
                        <dl>
                            <dt>სქესი:</dt>
                            {% if user.profile.gender == 0 %}
                                <dd>მამრობოთი</dd>
                            {% elif user.profile.gender == 1 %}
                                <dd>მდედრობითი</dd>
                            {% else %}
                                <dd>მითითებული არ არის</dd>
                            {% endif %}
                            <dt>დაბადების თარიღი:</dt>
                            {% if user.profile.birth %}
                                <dd>{{ user.profile.birth }}</dd>
                            {% else %}
                                <dd>მითითებული არ არის</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="profile-edit clearfix">
                <div class="profile-header">პარამეტრები</div>
                <div class="profile-details-input" style="position:relative">
                    <label for="id_email">Email</label>
                    <input  type="text" id="id_email" name="email" value="{{ user.email }}" readonly>
                    <button  class="change-button" title="ემაილის შესაცვლელად,თქვენს Email-ზე მოვა ლინკი (გადაამოწმეთ სპამებიც)" id="change-email-button">შეცვლა</button>
                </div>
                <div class="profile-details-input" style="position:relative;float: right">
                    <label for="id_email">ნიკი</label>
                    <input type="text" id="id_username" name="username" value="{{ user.username }}" readonly>
                    <button class="change-button" id="change-username-button">შეცვლა</button>
                    <p class="username-info"></p>
                </div>
                <div class="profile-details-input">
                    <a class="change-pass-button" href="{% url 'password_change' %}">პაროლის შეცვლა</a>
                </div>
            </div>
            <div class="profile-edit">
               <div class="profile-header">პროფილის დეტალები</div>
                <form method="POST" class="profile-details">
                    {% csrf_token %}
                    <div class="profile-details-input">
                        <label for="id_gender">სქესი</label>
                        {{ p_form.gender }}
                        {{ s_form.show_gender }}
                        <label for="id_show_gender" style="display: inline-block"> პროფილზე გამოჩენა</label>
                    </div>
                    <div class="profile-details-input" style="float:right;">
                        <label>დაბადების თარიღი</label>
                        <select name="birth-day" class="birthselector">
                                <option value="0">---------</option>
                        </select>
                        <select name="birth-month" class="birthselector">
                            <option value="0">---------</option>
                        </select>
                        <select name="birth-year" class="birthselector">
                            <option value="0">---------</option>
                        </select>
                        <br>
                        {{ s_form.show_birth }}
                        <label for="id_show_birth" style="display: inline-block"> პროფილზე გამოჩენა</label>
                        <input type="hidden" id="id_birth" name="birth" value="{{ user.profile.birth|date:"Y-m-d" }}">
                    </div>
                    <input type="submit" class="form-submit" value="შენახვა">
                </form>
            </div>
        </div>
    </div>
{% endblock %}