{% extends "base.html" %}
{% block title %}{{ user_profile }} -  პროფილი{% endblock %}
{% block logout_redirect %}/{% endblock %}
{% load static %}
{% load extra_tags %}
{% block script %}
    {% if user|is_member_of:"მოდერატორი" %}
        <script src="{% static "js/585a602f5e66cbee0a62b1b5eff1f15d.js" %}?v=1"></script>
        <link rel="stylesheet" href="{% static "css/585a602f5e66cbee0a62b1b5eff1f15d.css" %}" />
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-page">
        <div class="clearfix">
            <div class="profile-avatar-container">
                <div class="profile-img">
                    <img id="active-avatar" src="/media/{{ user_profile.profile.avatar }}?r=1" alt="avatar">
                </div>
            </div>
            <div class="profile-display">
                <p id="profile-username">{{ user_profile.username }}</p>
                {% if not user_profile.is_active %}
                    <span style="color: #dc1515;font-weight: 600;">BANNED</span>
                {% endif %}
                <div class="profile-row">
                    <div>
                        <dl>
                            <dt>რეგისტრაციის თარიღი:</dt>
                            <dd>{{ user_profile.date_joined|date:"d.m.Y" }}</dd>
                            <dt>ჯგუფი:</dt>
                            {% if user_profile.is_superuser %}
                                <dd>
                                    <li class="anime-status" style="background-color:#973116">ადმინისტრატორი</li>
                                </dd>
                            {% elif user_profile.is_staff %}
                                <dd>
                                    {% for group in user_profile.groups.all %}
                                        <li class="anime-status"
                                            style="background-color:{{ group.display_color }}">{{ group }}</li>
                                    {% endfor %}
                                </dd>
                            {% else %}
                            <dd>მაყურებელი</dd>
                        {% endif %}
                        </dl>
                        <dl>
                            {% if user_profile.settings.show_gender %}
                                <dt>სქესი:</dt>
                                {% if user_profile.profile.gender == 0 %}
                                    <dd>მამრობოთი</dd>
                                {% elif user_profile.profile.gender == 1 %}
                                    <dd>მდედრობითი</dd>
                                {% else %}
                                    <dd>მითითებული არ არის</dd>
                                {% endif %}
                            {% endif %}
                            {% if user_profile.settings.show_birth %}
                                <dt>დაბადების თარიღი:</dt>
                                {% if user_profile.profile.birth %}
                                    <dd>{{ user_profile.profile.birth }}</dd>
                                {% else %}
                                    <dd>მითითებული არ არის</dd>
                                {% endif %}
                            {% endif %}
                        </dl>
                    </div>
                    <div class="profile-social">
                        <dl>
                            {% if user_profile.profile.facebook %}
                                <dd><a href="{{ user_profile.profile.facebook }}" target="_blank"><i
                                        class="fab fa-facebook"></i> Facebook</a></dd>
                            {% endif %}
                            {% if user_profile.profile.instagram %}
                                <dd><a href="{{ user_profile.profile.instagram }}" target="_blank"><i
                                        class="fab fa-instagram"></i> Instagram</a></dd>
                            {% endif %}
                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}