{% extends "base.html" %}
{% block title %}რეგისტრაცია{% endblock %}

{% block content %}
    <div class="container">
<!--        <div class="signup-content">-->
            <form method="POST" class="signup-form">
                <div class="form-title">ექაუნთის შექმნა</div>
                {% csrf_token %}
                {% for non_field_error in register.non_field_errors %}
                    {{ non_field_error }}
                {% endfor %}
                {% for input in register %}
                   <div class="form-group">
                    {{ input }}
                   </div>
                    {% for error in input.errors %}
                        <p class="reg-error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <input type="submit" id="submit" class="form-submit fifth-width" value="რეგისტრაცია"/>
            </form>
<!--        </div>-->
    </div>
{% endblock %}