{% extends 'base.html' %}
{% block title %}Email-ის შეცვლა{% endblock %}
{% block logout_redirect %}/{% endblock %}
{% block content %}
    <div class="container">
        <div class="form-title">Email-ის შეცვლა</div>
        <form method="POST" class="form-container">{% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" class="form-submit" value="გაგზვნა">
        </form>
    </div>
{% endblock %}