{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="info-page">
          <p>
            თქვენი მოთხოვნა მიღებულია, თუ ამ email-ზე დარეგისტრირებულია ექაუნთი თქვენ მიიღებთ აღსადგენ ლინკს.
          </p>
            <br/>
          <p>
            თუ თქვენ არ მოგსვლიათ ლინკი, ზნაჩიტ არასწორად ჩაგიწერიათ email,დაწრმუნდით, რომ სწორად ჩაწერეთ email რომლითაც ხართ დარეგისტრირებული და შეამოწმეთ თქვენი "spam" ფაილი
          </p>
        </div>
    </div>
{% endblock %}