/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "DejaVu Sans Condensed", sans-serif;
}

html {
    height: 100%
}

body {
    font-size: 14px;
    background: #d7ccc8;
    color: #333;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*FROM HERE*/
nav{
    border-bottom: 2px solid #973116;
    border-top: 2px solid #973116;
    height: 70px;
    background-color: #1c150f;
}

.top-background{
   background: url('/static/img/background.webp') bottom 74% center;
    height: 190px;
    position: relative;
    background-size: cover;
}

.top-logo{
    margin: 0 0 0 60px;
    float: left;
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top:175px;
    border-radius: 50%;
    background: url('/static/img/logo.png?v=1');
}

.logo:hover{
    background: url('/static/img/logo_focus.png?v=1');
}

.logo:hover + .web-name {
    background: url('/static/img/name_focus.png?v=1') no-repeat;
}


.web-name{
    background: url('/static/img/name.png?v=1') no-repeat;
    height: 43px;
    width: 139px;
    display: inline-block;
    margin-left: 110px;
    margin-top: 10px;
}

.top-menu{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 1200px;
}

.top-nav {
    list-style-type: none;
    padding: 0;
    display:inline-block;
    line-height: 34px;
    float: right;
}

.top-nav li {
    float: left;
    font-size: 16px;
    font-weight: 300;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}


.top-nav li a {
    cursor: pointer;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px 22px;
    text-decoration: none;
}

.top-nav li a span{
    font-size: 11px;
    position: absolute;
    width: 100%;
    left: 0;
    font-weight: 400;
    top: 13px;
}

.fas.fa-sign-out-alt, .fas.fa-bell{
    font-size: 30px;
    width: 100%;
}

.top-nav li a span.notif-count {
    border-radius: 50%;
    background: #ff2b01;
    padding: 6px 0 0;
    top: 12px;
    left: 44px;
    width: 22px;
    height: 22px;
}

.top-nav li > a.menu-icon{
    padding: 20px 28px 18px;
    position: relative;
}

a.menu-icon.fas.fa-sign-out-alt {
    padding: 28px 28px 10px;
}

ul.top-nav li a.active, .comment-edit-form button[type=reset], .comment-form button[type=reset] {
    background-color: #973116;
}

ul.top-nav li.right {
    float: right;
}

li{
    list-style-type: none;
}

section{
    min-height: 100%;
}

.signup-form{
    text-align: center;
}

.reg-error{
    color: #953116;
    font-size: 14px;
    margin-bottom: 15px;
}

.form-title {
  line-height: 1.66;
  font-weight: 900;
  color: #222;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

#sidebar{
    border: 1px solid;
    margin-left: 20px;
}

.form-container {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: #90878421;
    padding: 20px 50px;
    border-radius: 5px;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
    position: relative;
    padding: 0 5px;
}

.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222; }
  .form-input::-webkit-input-placeholder {
    color: #999; }
  .form-input::-moz-placeholder {
    color: #999; }
  .form-input:-ms-input-placeholder {
    color: #999; }
  .form-input:-moz-placeholder {
    color: #999; }
  .form-input::-webkit-input-placeholder {
    font-weight: 500; }
  .form-input::-moz-placeholder {
    font-weight: 500; }
  .form-input:-ms-input-placeholder {
    font-weight: 500; }
  .form-input:-moz-placeholder {
    font-weight: 500; }
  .form-input:focus {
      outline: none;
  }
    .form-input:focus::-webkit-input-placeholder {
      color: #ffffff; }
    .form-input:focus::-moz-placeholder {
      color: #222; }
    .form-input:focus:-ms-input-placeholder {
      color: #222; }
    .form-input:focus:-moz-placeholder {
      color: #222; }

.form-submit {
    cursor: pointer;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      padding: 17px 20px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      border: none;
      background-image: -moz-linear-gradient(to left, #292018, #973116);
      background-image: -ms-linear-gradient(to left, #292018, #973116);
      background-image: -o-linear-gradient(to left, #292018, #973116);
      background-image: -webkit-linear-gradient(to left, #292018, #973116);
      background-image: linear-gradient(to left, #292018, #973116);
    margin: 0 auto;
    display: block;
}

.flash-message{
    padding:5px;
    text-align: center;
    color:#ffffff;
}

/*profile tabs*/

.tabs {
    clear: both;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    background-image: -moz-linear-gradient(90deg, #282626 30%, #973116);
    background-image: -ms-linear-gradient(90deg, #282626 30%, #973116);
    background-image: -o-linear-gradient(90deg, #282626 30%, #973116);
    background-image: -webkit-linear-gradient(90deg, #282626 30%, #973116);
    background-image: linear-gradient(90deg, #282626 30%, #973116);
    border-bottom: 3px solid #973116;
}

.tabs li {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    padding: 13px 25px;
    font-size: 14px;
    border: 0;
    background-color: #973116;
    margin-left: -40px;
    border-top-left-radius: 10px;
}

.anime-content{
    display: flex;
}

.info-page{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.schedule {
    width: 70%;
    margin: 15px auto;
    padding: 8px;
}

.schedule-poster{
    float: left;
    width: 18%;
}

.schedule-poster img{
    width: 100%;
    height: 100%;
}

.schedule-right{
    width: 81%;
    float: right;
    margin-top: 6px;
}

.schedule-pg, .schedule-text {
    font-size: 1.2em;
    word-break: break-word;
}

.schedule-max {
    font-size: 0.9em;
}

.schedule-pg {
    display: inline-block;
    margin-bottom: 3%;
}

.schedule-name {
    font-size: 1em;
    font-weight: 600;
}

.item {
    cursor: pointer;
    position: relative;
    background-color: #ffffff;
    padding: 0 5px;
    width: 33.33%;
    margin: 5px 0;
}

.item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.item:hover .info{
    padding: 10px 10px 0;
    position: absolute;
    background-color: rgba(15, 15, 15, 0.67);
    color: #ffffff;
    bottom: 0;
    left:0;
    max-height: 50%;
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.age {
    padding: 5px;
    position: absolute;
    background-color: #2e2828bf;
    color: #ff2e01;
    top: 7px;
    right: 5px;
    font-size: 22px;
    border: 3px solid;
    border-radius: 35%;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.item:hover .age {
    display: inline-block;
}

.soon {
    position: absolute;
    top: 5%;
    right: -22%;
    transform: rotate(43deg);
    max-width: 73% !important;
    z-index: 1;
}

.name{
	text-align:center;
	border-bottom:1px solid;
	padding: 5px 0 12px;
	height:20%;
    font-size: 17px;
}

.item span{
	font-size: 18px;
}

.item i{
	color:#ff2e01;
}

.item a {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.item .details{
    padding: 5px 0;
}

.items-list {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #ffffff;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.categories-list li:after {
    content: ',';
}

.categories-list li:last-child:after {
    content: '';
}

.items-list:after {
  content: "";
  display: table;
  clear: both;
}

.showmore {
    width: 150px;
    background-color: #555555;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 15px auto 0;
}

.nomore{
    background-color: #cac3c3;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 15px;
}

body footer{
    width: 100%;
    height: 96px;
    position: absolute;
    bottom: 0;
    background-color: #1c150f;
    color:#ffffff;
    padding: 10px;
}

.footer-logo {
    width: 219px;
    height: 65px;
    margin-top: 10px;
    margin-left: 60px;
    background: url('/static/img/footer_logo.png') no-repeat;
    float: left;
}

.social-icons {
    float: right;
    font-size: 48px;
    margin-right: 40px;
    margin-top: 10px;
}

.social-icons li{
    display: inline;
    margin-left: 10px;
}

.fa-facebook {
    color: #ff2b01;
    border-radius: 50%;
}

.social-icons img{
    width: 48px;
    height: 48px;
    margin-top: -7px;
}

body::after {
  content: '';
  display: block;
  height: 86px;
}

div#login-focus {
    position: relative;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    padding: 16px 28px;
    text-decoration: none;
}

.login-form {
    text-align: center;
    width: 246px;
    background-color: rgba(41, 32, 24, 0.8);
    padding: 15px;
    border-radius: 0 0 9px 9px;
    border: 2px solid #953116;
    display: none;
    position: absolute;
    z-index: 2;
}

.login-form input{
    width: 170px;
    border-radius: 5px;
    border: none;
    padding: 6px;
}

.login-form input[type=submit]{
    width: 50%;
    background-color: #953116;
    color: #ffffff;
    margin-top: 8px;
    cursor: pointer;
}

form.login-form a{
    font-size: 15px;
    padding: 0;
    margin: auto;
    width: fit-content !important;
}

.item-page{
    width: 85%;
    margin: auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 4px;
}

.item-page-img{
    width: 20%;
    float: left;
}

.item-page-info{
    padding: 0 20px;
    width: 80%;
    float: left;
}

.item-page-head h4{
    font-size: 14px;
    font-family: "Comfortaa",cursive;
    line-height: 125%;
}

.item-page-head .geo-header{
    line-height: 145%;
    font-size: 16px;
    font-family: "DejaVu Sans Condensed", sans-serif;
}

.item-page-head h1 {
    margin: auto auto 7px;
}

.item-page-right {
    display: inline-block;
    vertical-align: top;
    float: right;
}

.item-page-right span {
    font-size: 25px;
    color: #963115;
}

.item-page-left {
    display: inline-block;
    float: left;
    width: calc(100% - 75px);
}

.profile-row{
    border-top: 2px solid #e2e2e2;
    padding: 15px 10px;
}

.profile-row dl{
    width: 50%;
    float: left;
}

.item-page-row dt,.profile-row dt {
    float: left;
    clear: left;
    margin-right: 8px;
    color: #ab3717;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 15px;
}


.item-page-row dd, .profile-row dd {
    line-height: 1.5em;
    font-size: 15px;
}

.item-page-row dd > li, .profile-row dd > li, .upload-demo.ready .upload-result {
    display: inline-block;
}

.item-page-row dd > li::after{
    content: ',';
}

.item-page-row dd > li:last-child:after{
    content: '';
}

dd.anime-status {
    display: inline-block;
    color: #ffffff;
    padding: 2px 7px;
    border-radius: 7px;
    font-size: 13px;
}

dd.finished{
    background-color: #0ac40a;
}

dd.not-finished{
    background-color: #ff2d01;
}

.item-page-desc{
    clear: both;
    padding: 12px;
    font-size: 15px;
}

.item-page-desc p {
    line-height: 135%;
    white-space:pre-wrap;
}

.item-page-episodes {
    margin: 15px 0 5px;
}

.episode-select-button{
    height: 33px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 9px 5px 0;
    margin: 3px;
    background: #292018;
    color: #ffffff;
    min-width: 33px;
    border-radius: 40%;
}

.episode-select-button.active{
    background: #973116;
}

.item-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.item-player iframe, .item-player video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.soon-player {
    display: block;
    width: 100%;
    height: 400px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    line-height: 15em;
    border-radius: 4px;
    background: #000000ed url('/static/img/soon_transparent.svg') no-repeat center;
    background-size: 50%;
}

.no-auth{
    text-align: center;
    padding: 15px;
    border: 1px solid;
}

.no-auth:after{
    margin-bottom: 50px;
}

.comments-box.clearfix:before {
    clear: both;
    margin-top: 65px;
}

.deleted-comment {
    border: 1px solid #9a9595;
    text-align: center;
    color: #ff2e01;
    height: 29px;
    margin-top: 16px;
    line-height: 25px;
}

.comment-edit-form textarea,.comment-form textarea {
    resize: vertical;
    border: 1px solid #aaa;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
}

.comment-edit-form button,.comment-form button{
    background: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}

button.spoiler-button {
    float: left;
    background: #e0e0e0;
    color: #000000;
}

button.spoiler-button:disabled {
    opacity: 0.5;
}

.comment {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px;
}

.spoiler {
    display: none;
    background: #f3f3f3;
    border-radius: 5px;
    padding: 2px;
    line-height: normal;
}

#reveal-spoiler{
    padding: 2px 4px;
    font-size: 12px;
    background: #e2e2e2e2;
    border-radius: 5px;
}

.comment-user-img {
    width: 90px;
    height: 90px;
    display: block;
    float: left;
}

.comment-user-img img{
    width: 100%;
    height: 100%;
}

.comment-body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 105px);
    position: relative;
    min-height: 100px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: .9rem;
    color: #555;
    background-color: #FFF;
}

.comment-info > .comment-user {
    color: #ff2e01;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
}

.comment-info > .comment-time {
    color: #555;
    font-size: 12px;
}

.comment-actions {
    margin-top: 16px;
}

.comment-buttons{
    height: 16px;
    padding: 2px;
}

.reply-button, .read-more {
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #a09999;
    border-radius: 3px;
    padding: 1px 6px 2px;
    line-height: 19px;
    color: #555555;
}

.read-more {
    background-color: #ffffff;
    margin: 6px 0 0 0;
}

.comment-replies-box {
    margin-left: 30px;
    border-left: 1px solid #973116;
    padding: 0 10px;
}

.comment-replies-box > .comment {
    border: none;
    border-bottom: 1px solid #e2e2e2;
}

.comment-replies-box > .comment:after,.comment-replies-box > .comment:before{
    clear: both;
    display: block;
    content: "";
}

.comment-info > p {
    line-height: 18px;
}

.comment-replies-box > .comment:last-child {
    border: none;
}

.comment-text{
    word-break: break-word;
    line-height: normal;
}

.comment-replies-check,.password-change-container{
    border: 1px solid #e2e2e2;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    margin: 5px 0;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.password-change-container{
    clear: both;
    width: 100%;
}

.comment-replies-check.closed:before,.password-change-container.closed:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Pro", serif;
    font-weight: 900;
}

.comment-replies-check.opened:before,.password-change-container.opened:before {
    content: "\f0d8";
    font-family: "Font Awesome 5 Pro", serif;
    font-weight: 900;
}

.comment-replies-check.opened.more-replies:before {
    content: "\f0d7";
}

div.comment-right-buttons {
    display: inline-block;
    font-size: 19px;
    cursor: pointer;
    color: #333333;
}

.user-actions {
    display: inline-block;
    float: right;
}

.comment-dl-buttons {
    display: inline-block;
}

.profile-page {
    width: 95%;
    padding: 8px;
    margin: auto;
    background-color: #ffffff;
}

.profile-main.clearfix {
    padding: 10px 30px;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 8px;
}

.profile-header {
    border-bottom: 1px solid #933015;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 18px;
}

.profile-img{
    position: relative;
}

#clear-image{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}

#active-avatar {
    width: 100%;
    height: 100%;
}

.change-profile-img {
    text-align: center;
    background-color: #913015;
    vertical-align: middle;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    width: 100%;
    margin-top: 1px;
}

.change-profile-img:before {
    clear: both;
    content: '';
}

.password-container{
    margin: 10px;
    min-height: 100px;
    padding: 8px;
}

.password-container input{
    margin:10px 0;
    width: 100%;
}

.errorlist li{
    color: #FF0000;
    margin: 10px 0;
    font-weight: 800;
}

.password-container .form-group{
    width: 50%;
    margin: auto;
}


.profile-avatar-container {
    float: left;
    width: 200px;
    margin: 0;
}

#profile-username {
    padding: 2px 8px;
    display: inline-block;
    font-size: 1.3rem;
    text-transform: uppercase;
    word-break: break-word;
}

#profile-group{
    display: inline-block;
    font-size: 19px;
}

.profile-display {
    width: calc(100% - 220px);
    float: left;
    max-height: 230px;
    margin-left: 20px;
}


.profile-edit {
    padding: 2px 28px;
    clear: both;
}

.profile-details{
    margin-top:20px;
    padding: 2px 28px;
}

.profile-details-input{
    width: 45%;
    float: left;
    margin-bottom: 20px;
}

.profile-details-input select,.profile-details-input input{
    padding: 10px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    cursor: pointer;
}

.birthselector{
    margin-bottom: 10px;
}

#id_gender{
    width: 100%;
    margin-bottom: 10px;
}

.profile-details-input #id_email,.profile-details-input #id_username,.profile-details-input #id_password {
    width: 100%;
    cursor: auto;
    background-color: #aaaaaa;
    margin-top: 2px;
    margin-left: 3px;
}

p.username-info {
    margin-top: 8px;
    color: #FF0000;
    font-size: 15px;
    font-weight: 800;
    margin-left: 6px;
}

.change-button,.profile-details-input .cancel {
    position: absolute;
    right: -2px;
    top: 19px;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

a.change-pass-button {
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 10px;
    width: 50%;
    cursor: pointer;
    text-align: center;
    float: left;
    text-decoration: none;
}

.profile-details-input .cancel {
    right: 104px;
    background-color: #973116;
}

.profile-details input, .upload-demo.ready .upload-demo-wrap {
    display: block;
}

.profile-details label {
    display: block;
    margin-bottom: 9px;
}

.profile-page button[type='submit']{
    clear: both;
    margin-top: 25px;
}

/*================*/

.upload-demo-wrap {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.modal-content .upload-result {
    margin: 10px auto 0;
    padding: 15px;
    background-color: #571d0d;
    color: #ffffff;
    cursor: pointer;
    display: block;
}

.upload-demo-wrap .cr-slider-wrap {
    margin: 6px auto;
}

.croppie-container .cr-boundary {
    width: 240px;
    height: 240px;
}

#avatarCroppieModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tooltip {
    position: relative;
    font-size: 20px;
    float: left;
    left: 200px;
    color: #FF0000;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #1b1a1a;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    opacity: 0.85;
    font-size: 16px;
    width: max-content;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.notifications{
    width: 70%;
    margin: 0 auto;
}

.notifications li{
    padding: 9px 0;
    background-color: #322219;
    color: #ffffff;
    margin: 6px auto;
}

.notifications li.visited{
    background-color: #7b7a7a;
}

.notif-info {
    margin-left: 15px;
}

.notif-info a{
    color: #ff2b01;
}

.notif-time {
    margin-right: 10px;
    float: right;
}

.remove-notif {
    font-size: 15px;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

.hide-this {
    max-height: 50px;
    overflow: hidden;
    position: relative;
}

.hide-this:after {
    content: '';
    display: block;
    position: absolute;
    height: 18px;
    background: linear-gradient(to top, #ffffffdb, #ffffff73);
    width: 100%;
    bottom: 0;
}


/*hiddens*/
#mob-home, .upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg, .info, .age, .reply-button:not(.touch) {
    display: none;
}

/*Responsive*/

@media (max-width: 1260px) {

    .items-list:after {
        display: table;
        clear: both;
    }

    .top-nav {
        margin: 0 25px 0 0;
    }

    .top-menu{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .web-name {
        display: none;
    }

    #sidebar {
        display: none;
    }

    .item-page-info {
        width: 72%;
    }

    .item-page-img {
        width: 28%;
    }

    .items-list {
        margin: auto;
    }

    .schedule-hr {
        margin: 12px 0;
    }
}

@media (max-width: 900px) {

    .items-list {
        padding: 0;
    }

    .item-page {
        width: 95%;
    }

    .notif-time {
        margin-left: 15px;
        float: none;
        display: block;
    }

    .schedule {
        width: 85%;
    }

}

@media (max-width: 768px) {
    .top-background{
        height: 0;
    }

    .logo,.web-name,.tooltip {
        display: none;
    }

    #mob-home, .age {
        display: block;
    }

    .info{
        display: block;
        padding: 10px 10px 0;
        position: absolute;
        background-color: rgba(15, 15, 15, 0.67);
        color: #ffffff;
        bottom: 0;
        left:0;
        max-height: 50%;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    nav{
        background: none;
        border: none;
        width: 100%;
        display: table;
        overflow: auto;
    }

    .top-nav{
        width: 100%;
        background-color: #292018;
        margin: 0;
    }

    .form-container{
        width: 80%;
    }

    .top-nav li,.login-form{
        width: 50%;
    }

    .form-input, .item-page{
        width: 100%;
    }

    .login-form input {
        width: 77%;
        height: 19%;
        margin: 8px auto;
        padding: 14px;
    }

    .top-nav li a {
        width: 100%;
        padding: 17px 0;
    }

    form.login-form a {
        font-size: 16px;
        padding: 8px 0;
    }

    .item-page-info {
        width: 68%;
    }

    .item-page-img {
        width: 32%;
    }

    .container{
        margin: 20px auto;
    }

    .item{
        width: 50%;
    }

    body footer{
        height: auto;
        min-height: 76px;
    }

    .top-nav li a span.notif-count {
        left: 51%;
    }

    .notifications {
        padding: 10px 20px;
    }

    .remove-notif {
        font-size: 20px;
        margin-top: 4px;
    }

    #submit-username-button, .profile-details-input .cancel {
        position: unset;
        display: inline-block;
        width: 49%;
        margin: 7px 1px;
    }

    .schedule-pg, .schedule-text {
        font-size: 1.1em;
    }

    .schedule-max {
        font-size: 0.8em;
    }

    .schedule-name {
        font-size: 0.9em;
    }

    .schedule {
        width: 95%;
    }
}

@media screen and (max-width: 560px) {

    .footer-logo {
        display: none;
    }

    .form-container {
        width: 100%;
        padding: 20px 30px;
    }

    .form-container.notifications {
        padding: 20px;
    }

    .notif-info a {
        display: block;
        margin-left: 15px;
    }

    .remove-notif {
        font-size: 25px;
        margin: -22px 10px;
    }

    .item-page {
        padding: 5px;
    }

    .item-page-info {
        width: 100%;
        margin-top: 8px;
    }

    .item-page-desc,.item-page-info {
        padding: 8px 12px;
    }

    .profile-avatar-container, .profile-display, .profile-row dl,
    .profile-row, .item, .profile-details-input, .item-page-img {
        float: none;
        width: 100%;
    }

    .profile-display,.item-page-img,.item-page-info,.item img,.profile-page {
        width: 100%;
        margin: 0;
    }

    p.username-info {
        text-align: center;
    }

    a.change-pass-button,select.birthselector {
        width: 100%;
        margin-top: 8px;
    }

    .social-icons{
        text-align: center;
        float: none;
        margin: 0 auto;
    }

    .profile-main.clearfix {
        padding: 10px 20px;
    }

    .modal-content {
        width: 90%;
    }

    .item-page-left {
        display: block;
        float: none;
        width: 100%;
        margin-top: 7px;
    }

    .item-page-right {
        margin-top: 5px;
        display: block;
        float: none;
    }

    .schedule-poster {
        width: 25%;
    }

    .schedule-right {
        width: 74%;
    }
}


@media screen and (max-width: 414px) {

    .login-form {
        width: 100%;
        float: none;
    }

    .signup-content {
        padding: 50px 25px;
    }

    .item img {
        width: 100%;
        height: auto;
    }

    .remove-notif {
        font-size: 20px;
        margin-top: -8px;
    }

    .top-nav li a span.notif-count {
        left: 51.6%;
    }

    .comment-user-img {
        width: 60px;
        height: 60px;
    }

    .comment-info > .comment-user {
        font-size: 16px;
        word-break: break-word;
    }

    .deleted-comment {
        margin-top: 8px;
    }

    .comment-body {
        width: calc(100% - 70px);
        padding: 1px;
        min-height: 70px;
    }

    .comment-replies-box {
        margin-left: 14px;
    }

    .schedule-pg, .schedule-text {
        font-size: 0.8em;
    }

    .schedule-max {
        font-size: 0.7em;
    }

    .schedule-name {
        font-size: 0.7em;
    }

    .schedule-hr {
        margin: 6px 0;
    }
}

@media screen and (min-width: 560px) {

    .comment-info {
        width: calc(100% - 100px);
    }

    .comment-body {
        position: relative;
    }

    .comment-actions {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2px;
    }

    .reply-button.touch {
        display: none;
    }

    .reply-button:not(.touch) {
        display: inline-block;
        margin-left: 2px;
    }

    .user-actions {
        float: none;
    }
}


@media screen and (min-width: 4000px) {
    .comment-body {
        margin: 0;
    }

    .top-background {
        height: 280px;
    }

    .logo {
        top: 265px;
    }
}

@media (hover: hover) {
    .showmore:hover, div#login-focus:hover, ul.top-nav li > a:hover:not(.active),
    .episode-select-button:hover, i.fas.fa-caret-down:hover {
        background-color: #973116;
    }

    .comment-replies-check:hover, .password-change-container:hover {
        color: #973116;
    }

    #reveal-spoiler:hover, .spoiler:hover {
        cursor: pointer;
    }
}