/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: url('/static/fonts/dejavu-sans-condensed-webfont.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/dejavu-sans-condensed-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/dejavu-sans-condensed-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/dejavu-sans-condensed-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('/static/fonts/dejavu-sans-condensed-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/dejavu-sans-condensed-webfont.svg#dejavu_sans_condensedregular') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "DejaVu Sans Condensed", sans-serif;
}

html {
    height: 100%
}

body {
    font-size: 14px;
    background: #d7ccc8;
    color: #333;
    min-height: 100%;
    position: relative;
}

html, body {
    overflow: auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*FROM HERE*/
nav{
    border-bottom: 2px solid #973116;
    border-top: 2px solid #973116;
    height: 72px;
    background-color: #1c150f;
}


.top-background{
   background: url('/static/img/background.webp') bottom 74% center;
    height: 190px;
    position: relative;
    background-size: cover;
}

/*header{*/
/*   background: url('/static/img/background.jpg') bottom 74% center;*/
/*    height: 190px;*/
/*    position: relative;*/
/*    background-size: cover;*/
/*}*/

/*#mob-menu{*/
/*    display: none;*/
/*    padding: 24px 0;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*}*/

.top-logo{
    margin: 0 0 0 60px;
    float: left;
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top:175px;
    border-radius: 50%;
    background: url('/static/img/logo.png');
}

.logo:hover{
    background: url('/static/img/logo_focus.png');
}

.logo:hover + .web-name {
    background: url('/static/img/name_focus.png') no-repeat;
}


.web-name{
    background: url('/static/img/name.png') no-repeat;
    height: 43px;
    width: 139px;
    display: inline-block;
    margin-left: 110px;
    margin-top: 10px;
}

.top-menu{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 1200px;
}

.top-nav {
    list-style-type: none;
    padding: 0;
    display:inline-block;
    line-height: 38px;
    float: right;
}

.top-nav li {
    float: left;
    font-size: 16px;
    font-weight: 300;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.top-nav li:hover{
    background-color: #973116;
}

.top-nav li a {
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 28px;
    text-decoration: none;
}

.top-nav li a span{
    font-size: 11px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.fas.fa-sign-out-alt{
    font-size: 30px;
    position: absolute;
    width: 100%;
    left: 1px;
    top: 26px;
    text-align: center;
}

.fas.fa-user-cog{
    font-size: 25px;
    position: absolute;
    width: 100%;
    left: 1px;
    top: 26px;
    text-align: center;
}

#mob-home{
    display: none;
}

ul.top-nav li:last-child a:hover:not(.active) {background-color: #973116;}

ul.top-nav li a.active {background-color: #973116;}

ul.top-nav li.right {float: right;}

li{
    list-style-type: none;
}

section{
    min-height: 100%;
    margin-bottom: 210px;
}

.signup-form{
    text-align: center;
}

.reg-error{
    color: #953116;
    font-size: 14px;
    margin-bottom: 15px;
}

.form-title {
  line-height: 1.66;
  font-weight: 900;
  color: #222;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.clear {
  clear: both;
}

#sidebar{
    border: 1px solid;
    margin-left: 20px;
}

.form-container {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
    position: relative;
    padding: 0 5px;
}

.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}


.form-input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222; }
  .form-input::-webkit-input-placeholder {
    color: #999; }
  .form-input::-moz-placeholder {
    color: #999; }
  .form-input:-ms-input-placeholder {
    color: #999; }
  .form-input:-moz-placeholder {
    color: #999; }
  .form-input::-webkit-input-placeholder {
    font-weight: 500; }
  .form-input::-moz-placeholder {
    font-weight: 500; }
  .form-input:-ms-input-placeholder {
    font-weight: 500; }
  .form-input:-moz-placeholder {
    font-weight: 500; }
  .form-input:focus {
      outline: none;
  }
    .form-input:focus::-webkit-input-placeholder {
      color: white; }
    .form-input:focus::-moz-placeholder {
      color: #222; }
    .form-input:focus:-ms-input-placeholder {
      color: #222; }
    .form-input:focus:-moz-placeholder {
      color: #222; }

.pad{
    padding: 7px;
}

.form-submit {
    cursor: pointer;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      padding: 17px 20px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      border: none;
      background-image: -moz-linear-gradient(to left, #292018, #973116);
      background-image: -ms-linear-gradient(to left, #292018, #973116);
      background-image: -o-linear-gradient(to left, #292018, #973116);
      background-image: -webkit-linear-gradient(to left, #292018, #973116);
      background-image: linear-gradient(to left, #292018, #973116);
    margin: 0 auto;
    display: block;
}

.flash-message{
    padding:5px;
    text-align: center;
    color:white;
}

/*profile tabs*/

.tabs {
    clear: both;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    background-image: -moz-linear-gradient(90deg, #282626 30%, #973116);
    background-image: -ms-linear-gradient(90deg, #282626 30%, #973116);
    background-image: -o-linear-gradient(90deg, #282626 30%, #973116);
    background-image: -webkit-linear-gradient(90deg, #282626 30%, #973116);
    background-image: linear-gradient(90deg, #282626 30%, #973116);
    border-bottom: 3px solid #973116;
}

.tabs li {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    padding: 13px 25px;
    font-size: 14px;
    border: 0;
    background-color: #973116;
    margin-left: -40px;
    border-top-left-radius: 10px;
}


/*ITEMS*/

/*HOME*/
.anime-content{
    display: flex;
}

.info-page{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.item{
	cursor:pointer;
    position: relative;
    background-color: white;
    padding: 0 5px;
	float:left;
    width:33.33%;
}

.item img{
	max-width: 100%;
	height: auto;
	display: block; /* remove extra space below image */
}

.item:hover .info{
    padding: 10px 10px 0;
    position: absolute;
    background-color: rgba(15, 15, 15, 0.67);
    color: white;
    bottom: 0;
    left:0;
    max-height: 50%;
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.item:hover .age{
    padding: 5px;
    position: absolute;
    background-color: #2e2828bf;
    color: #ff2e01;
    top: 7px;
    right: 5px;
    font-size: 22px;
    border: 5px solid;
    border-radius: 35%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*color:#ff2e01; */

.info{
	display:none;
}

.age{
	display:none;
}

.name{
	text-align:center;
	border-bottom:1px solid;
	padding: 5px 0 12px;
	height:20%;
    font-size: 17px;
}

.item span{
	font-size: 18px;
}

.item i{
	color:#ff2e01;
}

.item a {
    user-select: none;
}

.item .details{
    padding: 5px 0;
}


.items-list{
    margin-bottom: 30px;
    padding: 10px;
    background-color: white;
    /*float: left;*/
    overflow: auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

/*.item{*/
/*    float: left;*/
/*    width: 48%;*/
/*    position: relative;*/
/*     max-height: 240px;*/
/*    background-color: white;*/
/*    margin: 10px;*/
/*}*/

/*.item img{*/
/*    float: left;*/
/*    height: 240px;*/
/*}*/

/*.item ul{*/
/*    list-style-type: none;*/
/*    padding: 10px 0;*/
/*    border-top: 1px solid #dfdfdf;*/
/*}*/

/*.item ul li{*/
/*    margin-bottom: 10px;*/
/*    word-spacing: 3px;*/
/*    display: inline-block;*/
/*}*/


.item-info::-webkit-scrollbar {
    width: 10px;

}

/* Track */
.item-info::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.item-info::-webkit-scrollbar-thumb {
    background: #973116;
    border-radius: 10px;
}

/* Handle on hover */
.item-info::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.categories-list li:after {
    content: ',';
}

.categories-list li:last-child:after {
    content: '';
}

.items-list:after {
  content: "";
  display: table;
  clear: both;
}

/*.item-name{*/
/*    margin: 15px 0;*/
/*    font-weight: bold;*/
/*    font-size: large;*/
/*    display: inline-block;*/
/*    color:black;*/
/*    text-decoration: none;*/
/*}*/

/*.item-name:hover{*/
/*    color: #973116;*/
/*}*/

/*.genres-list span{*/
/*    font-weight: 600;*/
/*}*/

.showmore{
    margin: auto;
    width: 150px;
    background-color: #555555;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
}

.showmore:hover{
    background-color: #973116;
}

body footer{
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    background: #973116;
    text-align: center;
    color:white;
}

/*section:after, footer {*/
/*    height: 121px;*/
/*    clear: both;*/
/*}*/


div#login-focus {
    position: relative;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 16px 28px;
    text-decoration: none;
}

div#login-focus:hover {
    background-color: #973116;
}

.login-form{
    text-align: center;
    font-size: 25px;
    width: 264px;
    color: white;
    background-color: rgba(41, 32, 24, 0.8);
    padding: 15px;
    border-radius: 0 0 15px 15px;
    border: 2px solid #953116;
    display: none;
    position: absolute;
    z-index: 1;
}

.login-form input{
    width: 180px;
    border-radius: 5px;
    border: none;
}

.login-form input[type=submit]{
    font-size: 15px;
    padding: 5px;
    width: 40%;
    background-color: #953116;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form a{
    font-size: 15px;
    color: white;
}

.item-page{
    width: 85%;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 4px;
}

.item-page-img{
    width: 20%;
    float: left;
}

.item-page-info{
    padding: 0 20px;
    width: 80%;
    float: left;
}

.item-page-head h4{
    font-size: 16px;
    font-family: none;
}

.item-page-head h1{
    margin: auto;
    margin-bottom: 7px;
}

.item-page-right {
    display: inline-block;
    vertical-align: top;
    float: right;
}

.item-page-right span {
    font-size: 25px;
    color: #963115;
}

.item-page-left {
    display: inline-block;
    float: left;
}

.profile-row{
    border-top: 2px solid #e2e2e2;
    padding: 15px 10px;
}

.profile-row dl{
    width: 50%;
    float: left;
}

.item-page-row dt,.profile-row dt {
    float: left;
    clear: left;
    margin-right: 8px;
    color: #ab3717;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 15px;
}


.item-page-row dd,.profile-row dd{
    line-height: 1.5em;
    font-size: 15px;
}
.item-page-row dd > li,.profile-row dd >li{
    display: inline-block;
}

.item-page-row dd > li::after{
    content: ',';
}

.item-page-row dd > li:last-child:after{
    content: '';
}

.item-page-desc{
    clear: both;
    padding: 12px;
    font-size: 15px;
}


.item-page-episodes {
    margin: 15px 0 5px;
}

.episode-select-button{
    height: 33px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 9px 5px 0;
    margin: 3px;
    background: #292018;
    color: #ffffff;
    min-width: 33px;
    border-radius: 40%;
}

.episode-select-button:hover{
    background: #973116;
}

.episode-select-button.active{
    background: #973116;
}

.item-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.item-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.admin{*/
/*    content: "";*/
/*    background: url(https://i.pinimg.com/originals/fb/10/e1/fb10e16ce8776e6b7e4d4213a16d4344.jpg);*/
/*    opacity: 0.5;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*}*/

.no-auth{
    text-align: center;
    padding: 15px;
    border: 1px solid;
}

.no-auth:after{
    margin-bottom: 50px;
}

.comments-box.clearfix:before {
    clear: both;
    margin-top: 65px;
}

.deleted-comment{
    border: 1px solid black;
    text-align: center;
    color: #ff2e01;
    height: 29px;
    line-height: 25px;
}

.comment-edit-form textarea,.comment-form textarea {
    resize: vertical;
    border: 1px solid #aaa;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
}

.comment-edit-form button,.comment-form button{
    background: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}

button.spoiler-button {
    float: left;
    background: #e0e0e0;
    color: black;
}

button.spoiler-button:disabled {
    opacity: 0.5;
}

.comment-edit-form button[type=reset],.comment-form button[type=reset]{
    background-color: #973116;
}

.comment {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px;
}

.spoiler{
    display: none;
    background: #f3f3f3;
}

#reveal-spoiler{
    padding: 4px;
    font-size: 12px;
    background: #e2e2e2e2;
    border-radius: 5px;
    margin: 0 4px;
}

#reveal-spoiler:hover, .spoiler:hover{
    cursor: pointer;
}

.comment-user-img {
    width: 90px;
    height: 90px;
    display: block;
    float: left;
}

.comment-user-img img{
    width: 100%;
    height: 100%;
}

.comment-body{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 105px);
    min-height: 100px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: .9rem;
    color: #555;
    background-color: #FFF;
}

.comment-info > .comment-user{
    color:#ff2e01;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
}

.comment-info > .comment-time{
    color:black;
    font-size: 12px
}

.comment-info{
    position: relative;
}

.comment-buttons:after{
    content: "";
    clear: both;
}

.comment-buttons{
    height: 16px;
    padding: 2px;
}

.reply-button {
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 6px;
}

.comment-replies-box {
    margin-left: 30px;
    border-left: 1px solid #973116;
    padding: 0 10px;
}

.comment-replies-box > .comment{
    border: none;
    border-bottom: 1px solid #e2e2e2;
}

.comment-replies-box > .comment:after,.comment-replies-box > .comment:before{
    clear: both;
    display: block;
    content: "";
}

.comment-info > p {
    line-height: 20px;
}

.comment-replies-box > .comment:last-child {
    border: none;
}

.comment-replies-check,.password-change-container{
    border: 1px solid #e2e2e2;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    margin: 5px 0;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.password-change-container{
    clear: both;
    width: 100%;
}

.comment-replies-check:hover,.password-change-container:hover{
    color: #973116;
}

.comment-replies-check.closed:before,.password-change-container.closed:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

.comment-replies-check.opened:before,.password-change-container.opened:before  {
    content: "\f0d8";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

i.fas.fa-caret-down:hover {
    color: #973116;
}

div.comment-right-buttons{
    float: right;
    margin-left: 5px;
    font-size: 19px;
    cursor: pointer;
}


.comment-dl-buttons {
    display: inline-block;
    float: right;
}

.profile-page {
    width: 95%;
    padding: 8px;
    margin: auto;
    background-color: white;
}

.profile-main.clearfix {
    padding: 10px 30px;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 8px;
}

.profile-header {
    border-bottom: 1px solid #933015;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 18px;
}

.profile-img{
    position: relative;
}

#clear-image{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

/*input[name=avatar],input[name=avatar-clear],.profile-avatar-container a,text{*/
/*    display: none;*/
/*}*/

#active-avatar {
    width: 100%;
    height: 100%;
}

.change-profile-img {
    text-align: center;
    background-color: #913015;
    vertical-align: middle;
    font-size: 16px;
    color: white;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    width: 100%;
    margin-top: 1px;
}

.change-profile-img:before {
    clear: both;
    content: '';
}

.password-container{
    margin: 10px;
    min-height: 100px;
    padding: 8px;
}

.password-container input{
    margin:10px 0;
    width: 100%;
}

.errorlist li{
    color: red;
    margin: 10px 0;
    font-weight: 800;
}

.password-container .form-group{
    width: 50%;
    margin: auto;
}


.profile-avatar-container {
    float: left;
    width: 200px;
    margin-bottom: 15px
}

#profile-username{
    padding: 2px 8px;
    display: inline-block;
    font-size: 47px;
    text-transform: uppercase;
}

#profile-group{
    display: inline-block;
    font-size: 19px;
}

.profile-display {
    width: calc(100% - 220px);
    float: left;
    max-height: 230px;
    margin-left: 20px;
}

/*.profile-row dl{*/
/*    float: left;*/
/*    width: 50%;*/
/*}*/
/*.profile-row dl:after{*/
/*    clear: both;*/
/*    float: none;*/
/*}*/

/*.profile-row{*/
/*    border-top: 2px solid #e2e2e2;*/
/*    padding: 15px 10px;*/
/*}*/

/*.profile-row dd,.profile-row dt{*/
/*    line-height: 2em;*/
/*}*/

/*.profile-row dt{*/
/*    color: #ab3717;*/
/*    font-weight: 600;*/
/*    font-size: 15px;*/
/*}*/

.profile-edit {
    padding: 2px 28px;
    clear: both;
}

.profile-details{
    margin-top:20px;
    padding: 2px 28px;
}

/*.profile-info select{*/
/*    width: 100%;*/
/*    padding: 15px 20px;*/
/*    border-radius: 5px;*/
/*    box-sizing: border-box;*/
/*    border: 1px solid #ebebeb;*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    color: #222;*/
/*}*/

.profile-details-input{
    width: 45%;
    float: left;
    margin-bottom: 20px;
}

.profile-details-input select,.profile-details-input input{
    padding: 10px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    cursor: pointer;
}

.birthselector{
    margin-bottom: 10px;
}

#id_gender{
    width: 100%;
    margin-bottom: 10px;
}

.profile-details-input #id_email,.profile-details-input #id_username,.profile-details-input #id_password{
    width: 100%;
    cursor: auto;
    background-color: #aaaaaa;
}

p.username-info{
    left: 5px;
    bottom: -25px;
    position: absolute;
    color: red;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
}

.change-button,.profile-details-input .cancel{
    position: absolute;
    right: 1px;
    bottom: 1px;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

a.change-pass-button {
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 10px;
    width: 50%;
    cursor: pointer;
    text-align: center;
    float: left;
    text-decoration: none;
}

.profile-details-input .cancel{
    right: 106px;
    background-color: #973116;
}


.profile-details input{
    display: block;
}

.profile-details label {
    display: block;
    margin-bottom: 9px;
}


.profile-page button{
    clear: both;
    margin-top: 25px;
}


/*FEEDBACK*/

form.feedback{
    width: 50%;
    margin: auto;
}

.feedback > .form-title{
    margin-bottom: 10px;
    color: white;
}

.feedback input{
    padding: 5px;
    border-radius: 5px;
}

.feedback input[type='submit']{
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.feedback textarea{
    display: block;
    height: 50px;
    width: 360px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}


/*================*/
.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;
}
.upload-demo-wrap {
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

.modal-content .upload-result {
    margin: 4% 42% 0;
    padding: 15px;
    background-color: #571d0d;
    color: white;
    cursor: pointer;
}

.upload-demo-wrap .cr-slider-wrap {
    margin: 0 auto;
}

/* The Modal (background) */
#avatarCroppieModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tooltip {
    position: relative;
    font-size: 20px;
    float: left;
    left: 200px;
    color: red;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #1b1a1a;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    opacity: 0.85;
    font-size: 16px;
    width: max-content;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*================================*/

.show{
    display: block;
}

@media (max-width: 1260px) {

    .items-list:after {
        display: table;
        clear: both;
    }

    .top-nav{
        margin: 0 25px 0 0;
    }

    .top-menu{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1185px) {

    .item {
        margin-top: 5px;
    }
}

@media (max-width: 1024px) {
    #sidebar {
        display: none;
    }

    .item-page-info {
        width: 72%;
    }

    .item-page-img {
        width: 28%;
    }

    .items-list {
        margin: auto;
    }

}

@media (max-width: 900px) {

    .top-nav li a {
        padding: 16px 21px;
    }

    .items-list {
        padding: 0;
    }

    .item-page {
        width: 95%;
    }
}


@media (max-width: 768px) {
    .top-background{
        height: 0;
    }

    .logo,.web-name,.tooltip {
        display: none;
    }

    nav.open{
        height: 185px;
    }

    #mob-home {
        display: block;
    }

    .info{
        display: block;
        padding: 10px 10px 0;
        position: absolute;
        background-color: rgba(15, 15, 15, 0.67);
        color: white;
        bottom: 0;
        left:0;
        max-height: 50%;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    nav{
        background: none;
        border: none;
        width: 100%;
        display: table;
        overflow: auto;
    }

    .top-nav{
        width: 100%;
        background-color: #292018;
        margin: 0;
    }

    .form-input {
        width: 80%;
    }

    .top-nav li{
        width: 50%;
    }

    .top-nav li:first-child{
        width: 100%;
    }

    .top-nav li a{
        width: 100%;
    }

    .item-page-info {
        width: 68%;
    }

    .item-page-img {
        width: 32%;
    }

    .container{
        margin: 20px auto 50px;
    }
    .item-page {
        width: 100%;
    }

    .item{
        width: 50%;
    }

}

@media screen and (max-width: 515px) {

    .item-page-img {
        float: none;
        width: 100%;
    }

    .item-page{
        padding: 5px;
    }

    .item-page-info {
        width: 100%;
        margin-top: 8px;
    }
    .item-page-desc {
        padding: 8px 0;
    }

    .profile-avatar-container,.profile-display,.profile-row dl,.profile-row,.item,.profile-details-input{
        float: none;
        width:100%;
    }

    .profile-display,.item-page-img,.item-page-info,.item img,.profile-page {
        width: 100%;
        margin: 0;
        padding: 2px;
    }

    a.change-pass-button,select.birthselector {
        width: 100%;
        margin-top: 8px;
    }

}

@media screen and (max-width: 480px) {
    .signup-content {
        padding: 50px 25px;
    }
}

@media screen and (max-width: 414px) {
    .signup-content {
        padding: 50px 25px;
    }

    .item img{
        width: 100%;
        height: auto;
    }
}


@media screen and (min-width: 4000px) {
    .comment-body {
        margin: 0;
    }

    .top-background{
        height: 280px;
    }

    .logo {
        top: 265px;
    }
}