{% extends "base.html" %}
{% block title %}გვერდი ვერ მოიძებნა{% endblock %}

{% block content %}
  <style>
    h1 {
      color: #555;
      font-size: 3.2em;
      font-weight: 400;
    }

    p {
        width: 280px;
        margin: 5px auto;
    }

    @media only screen and (max-width: 280px) {

      body,
      p {
        width: 95%;
      }

      h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
      }

    }
  </style>
    <div class="container info-page">
        <h1>404</h1>
        <h2>გვერდი ვერ მოიძებნა</h2>
        <p>ასეთი გვერდი არ არსებობს!</p>
    </div>

{% endblock %}
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
