<!DOCTYPE html>
<html class="no-js" lang="ka-GE">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}ქართულად გახმოვანებული ანიმე სერიალები და ფილმები{% endblock %}">
    <meta name="keywords" content="georgian, anime, animeebi, qartulad, kartulad, gaxmovaneba, gaxmovanebebi, geo">
    {% block ogtitle %}{% endblock %}
	{% block ogdescription %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="apple-touch-icon" href="{% static "icon.png" %}">
    <link rel="icon" sizes="192x192" href="{% static "icon-192.png" %}">
    <link rel="icon" sizes="144x144" href="{% static "icon-144.png" %}">

    {% block extra %}{% endblock %}
    <link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/dejavu-sans-condensed/css/dejavu-sans-condensed.min.css?display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}?v=5">

    <script src="https://kit.fontawesome.com/98d783368d.js" crossorigin="anonymous"></script>
    <meta name="theme-color" content="#973116">
</head>

  <!--[if IE]>
    <p class="browserupgrade">თქვენ იყენებთ <strong>ძველ</strong> ბრაუზერს.
        გთხოვთ, რომ <a href="https://browsehappy.com/">გაანახლოთ ბრაუზერი</a> .</p>
  <![endif]-->

<header>
    <div class="top-background"></div>
    <nav>
        <div class="top-menu">
            <div class="top-logo">
                <a class="logo" href="/"></a>
                <a class="web-name"></a>
            </div>
            <ul class="top-nav">
                <li {% if user.is_anonymous %} style="width: 100%" {% else %} style="width: 50%"{% endif %}>
                    <a id="mob-home" href="/">მთავარი</a>
                </li>
                <li><a href="{% url 'schedule' %}">განრიგი</a></li>
                <li><a href="{% url 'feedback' %}">კონტაქტი</a></li>
                {% if user.is_anonymous %}
                    <li>
                        <div id="login-focus">შესვლა</div>
                        <form class="login-form" method="post" action="{% url 'login' %}?next={{ request.path }}">
                            {% csrf_token %}
                            <input type="text" name="username" class="form-input pad" autofocus placeholder="ნიკი"
                                   autocapitalize="none" autocomplete="off">
                            <input type="password" name="password" autocomplete="current-password"
                                   class="form-input pad" placeholder="პაროლი" id="id_password">
                            <input type="submit" value="შესვლა">
                            <a href="{% url 'password_reset' %}">არ მახსოვს პაროლი...</a>
                        </form>
                    </li>
                    <li><a href="{% url 'signup' %}">რეგისტრაცია</a></li>
                {% else %}
                    {% if user.is_staff %}
                        <li><a href="/admin/" target="_blank">პანელი</a></li>
                    {% endif %}
                        <li>
                            <a class="menu-icon fas fa-bell" href="{% url 'notification' %}">
                            {% if user.notif %}
                                <span class="notif-count">{{ user.notif }}</span>
                            {% endif %}
                            </a>
                        </li>
                        <li><a class='active' href="{% url 'profile' %}" data-id="{{ user.id }}">პროფილი</a></li>
                        <li><a class="menu-icon fas fa-sign-out-alt" href="{% url 'logout' %}?next={% block logout_redirect %}{% endblock %}">
                            <span>გასვლა</span>
                        </a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <noscript>
        <div class="flash-message" style="background-color:#973116;">
            თქვენს ბრაუზერს არ აქვს JavaScript-ის მხარდაჭერა, საიტის სრულად გამოყენებისთვის საჭიროა მისი
            <a href="https://www.enable-javascript.com/" target="_blank">ჩართვა!</a>
        </div>
    </noscript>
    {% if messages %}
      <div class="wrapper">
        {% for msg in messages %}
            {% if 'welcome' in msg.extra_tags %}
                <div class='flash-message' style="background: #973116">{{ msg }}</div>
            {% elif 'failedAuth' in msg.extra_tags %}
                <div class='flash-message' style="background: red">{{ msg }}</div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <div class="footer-logo"></div>
        <div class="social-icons">
            <ul>
                <li><a href="https://www.facebook.com/animilia1000" target="_blank" title="Facebook-ის გვერდი"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.myvideo.ge/?user_id=1821361" target="_blank" title="Myvideo"><img src="/static/img/myvideo-icon.svg" alt="Myvideo"></a></li>
              <li><a href="{% url 'feedback' %}" title="კონტაქტი"><img src="/static/img/feedback_icon.svg" alt="კონტაქტი"></a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static "js/vendor/modernizr-3.8.0.min.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}?v=5"></script>

    {% block script %}{% endblock %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161605845-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161605845-2');
    </script>

</body>

</html>
