{% extends "base.html" %}
{% block title %}განრიგი - Animilia.ge{% endblock %}
{% load extra_tags %}

{% block content %}
    <div class="container">
    {% for item in schedule %}
        <div class="info-page schedule clearfix">
            <div class="schedule-poster">
                <a href="{% url 'page' item.anime__slug %}"><img src="/media/{{ item.anime__poster }}?r=1" alt="poster"></a>
            </div>
            <div class="schedule-right">
                <a href="{% url 'page' item.anime__slug %}"><p class="schedule-name">{{ item.anime__name}}</p></a>
                <hr class="schedule-hr">
                <div class="schedule-info">
                {% if item.text == "" %}
                    <p class="schedule-pg">{{ item.date|date:"d.m.Y (l)" }}</p><br>
                    <p class="schedule-pg">{{ item.from_time|time:"H:i" }} - {{ item.to_time|time:"H:i" }}</p>
                    <p class="schedule-max">{{ item.max|geo_number }} სერია</p>
                {% else %}
                    <p class="schedule-text">{{ item.text }}</p>
                {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
         <div class="info-page">ამჟამად განრიგი არ არის.</div>
    {% endfor %}
    </div>
{% endblock %}